<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://absennurisku.000webhostapp.com/css/img/logo/logo.png" rel="icon">
  <title>wahyu api</title>
  <link href="https://absennurisku.000webhostapp.com/css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://absennurisku.000webhostapp.com/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://absennurisku.000webhostapp.com/css/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/api">
        <div class="sidebar-brand-text mx-3">wahyu api's</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="/api">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Beranda</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#base"
          aria-expanded="true" aria-controls="base">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>SOSIAL MEDIA</span>
        </a>
        <div id="base" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Online Tools ( APi's )</h6>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/igstalk?uname=_wah_ramadan">Ig stalk</a>
            <a class="collapse-item" href="http://wahyugans.herokuapp.com/api/ytmusik?url=https://www.youtube.com/watch?v=e1--y6LoC3k">Yt audio</a>
			<a class="collapse-item" href="http://wahyugans.herokuapp.com/api/ytvideo?url=https://www.youtube.com/watch?v=e1--y6LoC3k">Yt video</a>
			<a class="collapse-item" href="https://api.arugaz.my.id/api/media/facebook?url=https://www.facebook.com/watch/?v=1393572814172251">Facebook</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/tiktod?link=https://www.tiktok.com/@graciajessicajane/video/6910824586909076738">Tiktok</a>
			<a class="collapse-item" href="http://wahyugans.herokuapp.com/api/twtimage?url=https://twitter.com/renaldypjs/status/1343516524934438912">twt-images</a>
			<a class="collapse-item" href="http://wahyugans.herokuapp.com/api/twtvid?url=https://twitter.com/weareoneEXO/status/1344811074864914433">twt-video</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mager"
          aria-expanded="true" aria-controls="mager">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>MAGER</span>
        </a>
        <div id="mager" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Online Tools ( APi's )</h6>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/nulis?kata=wahyu">Nulis</a>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/kbbi?kata=wahyu">KBBI</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/wiki?q=wahyu">Wiki</a>
			<a class="collapse-item" href="http://wahyugans.herokuapp.com/api/translate?kata=jancok">translate</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#finder"
          aria-expanded="true" aria-controls="finder">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>FINDER</span>
        </a>
        <div id="finder" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Information Finder</h6>
            <a class="collapse-item" href="http://wahyugans.herokuapp.com/api/lirik?judul=anjai">Lyrics Finder</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/cord?query=anjai">Cord</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/ttp?text=wahyu">Ttp</a>
			

          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#anime"
          aria-expanded="true" aria-controls="anime">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>ANIME</span>
        </a>
        <div id="anime" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Information anime</h6>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/animeinfo?query=naruto">anime info</a>

			

          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#nsfw"
          aria-expanded="true" aria-controls="nsfw">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>NSFW</span>
        </a>
        <div id="nsfw" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">NSFW Finder</h6>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/xnxx?url=">xnxx Scraper</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/nekopoi?url=https://nekopoi.care/tsunpuri-episode-1-subtitle-indonesia">Nekopoi Scraper</a>
			<a class="collapse-item" href="https://wazzapi.herokuapp.com/api/v1/randomh">Random Hentai</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#info"
          aria-expanded="true" aria-controls="info">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>News</span>
        </a>
        <div id="info" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Info Finder</h6>
            <a class="collapse-item" href="https://rest.farzain.com/api/cuaca.php?id=jember&apikey=O8mUD3YrHIy9KM1fMRjamw8eg">Cuaca</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/infogempa">Gempa</a>
			<a class="collapse-item" href="http://wahyugans.herokuapp.com/api/corona?negara=indonesia">Covid-id</a>
			<a class="collapse-item" href="http://wahyugans.herokuapp.com/api/corona?negara=amerika">Covid-county</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/jadwaltv?ch=gtv">Jadwal tv</a>

          </div>
        </div>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#utils"
          aria-expanded="true" aria-controls="utils">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>Utils</span>
        </a>
        <div id="utils" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random API</h6>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/namaninja?nama=wahyu">Nama jepang</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/bpk?text=wahyu">bpkfont</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#other"
          aria-expanded="true" aria-controls="other">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>Other</span>
        </a>
        <div id="other" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Other API</h6>
            <a class="collapse-item" href="https://wahyugans.herokuapp.com/api/artimimpi?mimpi=mati">Artinama</a>	
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/zodiak?tgl-bln-thn=30-10-2003">Zodiak</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/simi?text=wahyu">simi</a>
			<a class="collapse-item" href="https://wahyugans.herokuapp.com/api/merkhp?query=asus">merk HP</a>
          </div>
        </div>
      </li>
      
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3L2YkydPYUg9VqTYe_x7y-g1NaCsDX75W2A&usqp=CAU" style="max-width: 50px">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #0;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://images.vexels.com/media/users/3/140137/isolated/preview/d5ce03b9b26818e8020ad0972de98baa-email-round-icon-by-vexels.png" style="max-width: 50px">
                <span class="badge badge-warning badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <h7>Contact Form Email</h7>
				<form action="kirim.php" method="post">
					<p><input type="text" name="nama" placeholder="Nama anda" size="30" required /></p>
					<p><input type="email" name="email" placeholder="Email valid" size="30" required /></p>
					<p><input type="text" name="judul" placeholder="Subjek pesan email" size="50" required /></p>
					<p><textarea name="pesan" placeholder="Pesan anda" rows="7" cols="50" required></textarea>
					<p><input type="submit" name="kirim" value="Kirim Pesan" /> <input type="reset" value="Hapus Text" /></p>
				</form>
	
              </div>
            </li>
            
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://absennurisku.000webhostapp.com/css/img/boy.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Maman Ketoprak</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./api">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            
            <!-- Earnings (Annual) Card Example -->
            
            <!-- New User Card Example -->
            
            <!-- Pending Requests Card Example -->
          
 
<script language="JavaScript">
var text="memang<br><br>DIRIKU HANYALAH SEORANG MANUSIA BIASA<br>TAPI AKU BERUSAHA MENJADI LEBIH BAIK <br>WALAU SERING GAGAL AKU TAKPERNAH MENYERAH<br>DAN<br>MAAF, KARENA SERING DIEMIN KAMU<br>SERING NYUEKIN KAMU<br>SEBENARNYA AKU NYUEKIN KAMU AKU PUNYA ALASAN<br>TAPI, KAMU PASTI TIDAK AKAN PERCAYA<br>NAMUN, BEBAN INI SANGATLAH MENYIKSA <br>TIDAK APA AKU MASIH BISA MENAHANNYA, TAPI TIDAK SELAMANYA<br>JADI, AKU MOHON MENGERTI POSISIKU SAAT INI <br>REMEMBER BACKHAT!!!...";
var delay=60;
var currentChar=1;
var destination="[none]";
function type()
{
//if (document.all)
{
var dest=document.getElementById(destination);
if (dest)// && dest.innerHTML)
{
dest.innerHTML=text.substr(0, currentChar)+"<blink>_</blink>";
currentChar++;
if (currentChar>text.length)
{
currentChar=1;
setTimeout("type()", 7000);
}
else
{
setTimeout("type()", delay);
}
}
}
}
function startTyping(textParam, delayParam, destinationParam)
{
text=textParam;
delay=delayParam;
currentChar=1;
destination=destinationParam;
type();
}
</script> <b><div 0px="" 10px="" arial="" color:="" ff0000="" font:="" id="textDestination" margin:="" style="background-color: none;"></div></b> <script language="JavaScript">
javascript:startTyping(text, 50, "textDestination");
</script>

          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; 2021 - developed by
              <b><a href="https://instagram.com/_wah_ramadan" target="_blank">wahyu mood</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://absennurisku.000webhostapp.com/css/vendor/jquery/jquery.min.js"></script>
  <script src="https://absennurisku.000webhostapp.com/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://absennurisku.000webhostapp.com/css/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://absennurisku.000webhostapp.com/css/js/ruang-admin.js"></script>
  <script src="https://absennurisku.000webhostapp.com/css/vendor/chart.js/Chart.min.js"></script>
  <script src="https://absennurisku.000webhostapp.com/css/js/demo/chart-area-demo.js"></script>  
</body>

</html>
